node_modules
build
dist
.next
.vscode
*.md
*.json
*.yaml
*.yml
*.html
*.css
*.scss
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.pdf
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.pptx
*.ppt
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
